@model DeleteArticleViewModel

@{
	ViewData["Title"] = "Delete category";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<form asp-controller="Article" asp-action="DeleteArticle" method="post">
								<h2 class="card-title">Do you really want to delete this article?
								<input type="hidden" asp-for="Id" />
								<a asp-controller="Admin" asp-action="GetArticlesOnAdminPanel" class="btn btn-info">Cancel</a>
								<button type="submit" class="btn btn-danger">Delete</button>
								</h2>
								<br /><br /><br /><br />				
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>