<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<div class="list-group">
					<a asp-controller="Category" asp-action="Index" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Edit Categories</h1>
						</div>
					</a>

					<a asp-controller="Role" asp-action="Index" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Edit Roles</h1>
						</div>
					</a>

					<a asp-controller="Source" asp-action="Index" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Edit Sources</h1>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>