@model CategoryModel

@{
	ViewData["Title"] = "Edit category";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<ul id="gtco-post-list">
					<li class="entry animate-box" data-animate-effect="fadeIn">
						<div class="entry-desc">
							<form asp-controller="Category" asp-action="EditCategory" method="post">
								<input asp-for="Id" type="hidden" value="@Model.Id" />
								<label asp-for="Name">Name of category</label>
								<input asp-for="Name" type="text" value="@Model.Name"/> @*To do a value (null)*@
								<br /><br />
								<a asp-controller="Category" asp-action="Index" class="btn btn-info">Cancel</a>
								<button type="submit" class="btn btn-success">Submit</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>