@model List<CategoryViewModel>


<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<table class="table">
					@foreach (var category in Model)
					{
						<tr>
							<td>
								<h2 class="card-title">@category.Name</h2>
							</td>
							<td>
								<a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="post-meta btn btn-danger">Delete</a>
								<a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="post-meta btn btn-info">Edit</a>
							</td>
						</tr>
					}
				</table>
				<a asp-controller="Category" asp-action="Create"><button class="post-meta btn btn-success">Create new category</button></a>
				<a asp-controller="Admin" asp-action="Index"><button class="post-meta btn btn-info">Back to Admin panel</button></a>
			</div>
		</div>
	</div>
</div>
