@{
    ViewData["Title"] = "Error";
}

<h1>We have a problem</h1>

<p>Sorry, an error occurred while executing your request.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-info">Back to the Main page</a>
