@{
    ViewData["Title"] = "Page not found";
}
<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<h1>Page not found</h1>

				<br/><br/><br/>

				<p>Oops, better check that URL.</p>

				<br/><br/><br/>

				<a asp-controller="Home" asp-action="Index" class="btn btn-info">Back to the Main page</a>
			</div>
		</div>
	</div>
</div>