@model RoleModel

@{
	ViewData["Title"] = "Create role";
}

<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<ul id="gtco-post-list">
					<li class="entry animate-box" data-animate-effect="fadeIn">
						<div class="entry-desc">
							<h1>Creation of role</h1>
							<form asp-controller="Role" asp-action="CreateRole" method="post">
								<div class="validation-summary-errors" asp-validation-summary="ModelOnly"></div>
								<input asp-for="Id" type="hidden" value="@Guid.NewGuid()" />

								<label asp-for="Name">Name</label>
								<input asp-for="Name" type="text" />
								<p></p>

								<br /><br />
								<a asp-controller="Role" asp-action="Index" class="btn btn-info">Cancel</a>
								<button type="submit" class="btn btn-success">Create</button>
							</form>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}