<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<h1>Access denied!</h1>

				<p>Access grants only for admin.</p>
				<p>Please, log in account like Admin to get access for this page.</p>
				<br /><br /><br /><br /><br />

				<a asp-controller="Home" asp-action="Index" class="btn btn-info">Back to the Main page</a>
				<a asp-controller="Account" asp-action="Login" class="btn btn-success">Log in</a>
				<br /><br />
			</div>
		</div>
	</div>
</div>