@{
	ViewData["Title"] = "Account management";
}
<div id="gtco-main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-12">
				<div class="list-group">

					<a asp-controller="Account" asp-action="ChangeEmail" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Change email</h1>
						</div>
					</a>

					<a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Change password</h1>
						</div>
					</a>

					<a asp-controller="Account" asp-action="ChangeNickname" class="list-group-item list-group-item-action list-group-item-danger">
						<div class="entry-desc">
							<h1>Change nickname</h1>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>